
        <main>
            <div class="image"><div>Bli fit med oss</div><img src="img/vernon_grillkorv.jpg"/></div>
            <div class="text">
                <h3>Öppettider</h3>
                <ul>
                    <li>Mån-Fre: 18-23</li>
                    <li>Lör: 10-14</li>
                    <li>Sön: Stängt</li>
                </ul>
            </div>
        </main>
