        <main class="login_main">
            <div class="empty"></div>
            <div class="login_text">Uppgifter</div>
            <input type="email" placeholder="Mejladress" />
            <input type="password" placeholder="Lösenord" />
            <button>tillbaka</button><button formaction="login_success.html">Logga in</button>
        </main>