
        <main class="signup_main">
            <div class="empty"></div>
            <div><a target="_blank" href="https://www.microsoft.com/en-us/Useterms/Retail/Windows/10/UseTerms_Retail_Windows_10_English.htm">Terms & Conditions</a></div>

            <input type="text" class="half" placeholder="Namn">
            <input type="text" class="half" placeholder="Efternamn">
            <input type="email" class="full" placeholder="Mejladress">
            <input type="password" class="full" placeholder="Lösenord">
            <div class="checkbox_box"><input type="checkbox"> Jag godkänner.</div>
            <form action="signup_success.html">
                <button type="submit">Ansök</button>
            </form>

        </main>

