        <main class="success_main">
            <h3>TAC!</h3>
            <p>Tack för din anmälan hos oss, vi hoppas att du når dina mål hos oss.
                Du har 3 gratis träningspass. Glöm inte att köpa gymkort hos oss för fler.
            </p>
        </main>